
<html>
<head>
<title>Athlean-x</title>
</head>
<body>
<script>

document.write("<h3>Sign in page of Athlean-x members</h3>");

</script>

<form action="/user/add" method="post">
  <input type="text" name="Username" placeholder="Full Name" autofocus><br>
  <input type="text" name="password" placeholder="Password" required><br>
 <input type="text" name="age" placeholder="Age" required><br>
  <input type="text" name="Joining_date" placeholder="Joining date" required><br>
  <input type="text" name="isadmin" placeholder="isadmin" required><br>
  <input type="text" name="Exercise" placeholder="Workouts" required><br>
  <input type="text" name="reps" placeholder="Reps" required><br>

   

  <input type="submit" value="Submit">

</form>  
</body>
</html>

